.axis path,
.axis line{
  fill: none;
  stroke: black;
}

.tick text{
  font-size: 12px;
}
.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}
.tick line{
  opacity: 0.2;
}
#get-classes li:hover{
  background-color: rgba(211, 214, 34, 0.42);
}

#field-svg {
  border-style: solid;
  border-width: 1px;
}

#field-container {
  /* border-style: solid;
  border-width: 1px; */
  margin:10px;
}
circle {
  fill: #fff;
  cursor: move;
  stroke: steelblue;
  stroke-width: 1.5px;
}