.axis path,
.axis line{
  fill: none;
  stroke: black;
}

.tick text{
  font-size: 12px;
}

.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}

.list{
  background-color: rgb(238, 238, 238);
  border: 1px solid #B79431;
  border-radius: 4px;
  margin: 5px;
}

.tick line{
  opacity: 0.2;
}

.settings_view .modal-header{
    border: solid; 
    border-width: 0px 0px 3px 0px; 
    background-color: #4f90c9;
}

.section_title{
    text-align: center;
}

#joinclass_div{
    margin: -2em 0em 1em 0em;
}
  
#newuser_div{
    text-align: center;
}

#logout_div{
    text-align: center;
}


#get-classes > button{
    margin-bottom: 5px;
    margin-left: 5px;
    max-height: 300px;
    max-width: 20%;
    overflow:auto;
}

#get-classes div:hover{
  background-color: rgba(211, 214, 34, 0.42);
}

#field-svg {
  border-style: solid;
  border-width: 1px;
}

#field-container {
  /* border-style: solid;
  border-width: 1px; */
  margin:10px;
}

circle {
  fill: #fff;
  cursor: move;
  stroke: steelblue;
  stroke-width: 1.5px;
}