.container {
    border: 2px solid rgba(0, 0, 0, 0.23);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
body {
    padding: 15px;
    background-color: rgba(114, 190, 210, 0.46);
    overflow-y:scroll;
}
#error_frame:not(:empty){
    color:red;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background-color: rgba(200, 192, 192, 0.38);
    padding: 5px;
}
#messages{
    height:300px; 
    overflow:auto;
}

/*** Toggle Switch for Options UI ***/
.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 17px; padding: 0; line-height: 17px;
    border: 2px solid #999999; border-radius: 17px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 17px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 21px;
    border: 2px solid #999999; border-radius: 17px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #34A7C1;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #34A7C1;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}