.container {
    border: 2px solid rgba(0, 0, 0, 0.23);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

body {
    padding: 15px;
    background-color: #AABBCC;
    overflow-y:scroll;
}

#legend{
    margin-top:-1em; 
    padding:5px 0px 5px 10px; 
    width: 100%; 
    display: inline-block;
}

#legend > span:first-child{
    width: 40%; 
    text-align: left; 
    display:inline-block;
    font-weight: bold;
}

#legend_text_positive{
    color: seagreen;
}
#legend_text_negative{
    color: indianred;
}
#legend_text_forcelines{
    color: steelblue;
}
#legend_text_selectedcharge{
    color: #ff7f0e;
}

#select_point_charge{
    text-align: right; 
    display: inline-block;
}

#groupview_title{
    margin-top:0.5em;
}

#container_title{
    margin-top: 0em;
}

#leavegroup{
    margin-left: 2em;
}

#logout{
    margin-bottom: 1em;
}

#error_frame:not(:empty){
    color:red;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background-color: rgba(200, 192, 192, 0.38);
    padding: 5px;
}

#messages{
    height:300px; 
    overflow:auto;
}

.modal-header{
    border: solid; border-width: 0px 0px 3px 0px; background-color: #4f90c9;
}
.modal-footer{
    margin-left: 1em;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.class_view{
    text-align: center;
}
.section_title{
    text-align: center;
}

/*** Toggle Switch for Options UI ***/
.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 17px; padding: 0; line-height: 17px;
    border: 2px solid #999999; border-radius: 17px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 17px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 21px;
    border: 2px solid #999999; border-radius: 17px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #34A7C1;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #34A7C1;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}